<div id="about" class="w-full bg-light-grey/30 dark:bg-black/20 pb-12">
    <div class="lg:container lg:mx-auto p-2">
        <div class="max-w-5xl mx-auto">
            <h1 class="font-header text-xl font-medium text-dark-green dark:text-white text-center sm:text-2xl lg:text-3xl py-6">
                About
            </h1>
                    
            <AboutItem AboutItemType="AboutItemType.Powershell"></AboutItem>
                    
            <AboutItem AboutItemType="AboutItemType.Github"></AboutItem>
        </div>
    </div>
</div>