<footer class="bg-dark-green text-white">
    <div class="container flex flex-col justify-between py-6 sm:flex-row">
        <div class="text-center text-base md:text-left py-0 my-auto">
            <div class="mx-auto w-fit">
                <div class="float-left mr-2">
                    Built by
                </div>
                <div class="float-left mr-2">
                    <a href="https://robgreen.me" target="_blank">
                        <img src="img/transparent.white.logo.png" class="w-6 h-6"/>
                    </a>
                </div>
                <div class="float-left mr-2">
                    <a href="https://robgreen.me" target="_blank" class="text-light-green hover:underline">
                        Rob Green Engineering Ltd
                    </a>
                </div>
                <div class="clear-both"></div>
            </div>
        </div>
        <div class="flex items-center justify-center pt-5 sm:justify-start sm:pt-0">
            <a href="https://github.com/trossr32/ps-json-to-powershell-class" target="_blank" title="Github repository for ps-json-to-powershell-class">
                <i class="bx bxl-github text-2xl hover:text-light-green"></i>
            </a>
            <a href="https://www.powershellgallery.com/packages/JsonToPowershellClass" class="pl-4" title="Powershell Gallery for JsonToPowershellClass">
                <span class="material-symbols-rounded text-2xl hover:text-light-green">
                    terminal
                </span>
            </a>
        </div>
    </div>
</footer>