<nav class="w-full z-50 sticky top-0 py-2 absolute bg-dark-green text-white">
    <div class="container flex items-center justify-between">
        <div>
            <a href="/">
                <img src="img/powershell.json.logo-1024x1024.png" class="w-12 lg:w-12" alt="logo image" />
            </a>
        </div>
        <div class="hidden lg:block">
            <ul class="flex items-center">
                <li class="group pl-6">
                    <span @click="triggerNavItem('#about')"
                          class="cursor-pointer pt-0.5 font-header font-semibold uppercase">About</span>
                    <span class="block h-0.5 w-full bg-transparent group-hover:bg-light-green"></span>
                </li>
            </ul>
        </div>
        <div class="block lg:hidden">
            <button @click="mobileMenu = true">
                <i class="bx bx-menu text-4xl text-white"></i>
            </button>
        </div>
    </div>
</nav>

<nav class="pointer-events-none fixed inset-0 z-70 min-h-screen bg-black bg-opacity-70 opacity-0 transition-opacity lg:hidden"
     :class="{ 'opacity-100 pointer-events-auto': mobileMenu }">
    <div class="absolute right-0 min-h-screen w-2/3 bg-primary py-4 px-8 shadow md:w-1/3">
        <button class="absolute top-0 right-0 mt-4 mr-4" @click="mobileMenu = false">
            <img src="img/icon-close.svg" class="h-10 w-auto" alt="" />
        </button>

        <ul class="mt-8 flex flex-col">
            <li class="py-2">
                <span @click="triggerMobileNavItem('#about')"
                      class="cursor-pointer pt-0.5 font-header font-semibold uppercase text-white">About</span>
            </li>
        </ul>
    </div>
</nav>